@import "@/scss/_reset";
@import "@/scss/_vars";
@import "@/scss/_fonts";
@import "@/scss/_base";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  input:invalid + .btnNone {
    pointer-events: none;
  }
}

.header {
  font-size: 40px;
  @include headers-font;
  margin-top: 150px;
  margin-bottom: 100px;
}

.login {
  border: 2px solid $main-purple;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}
.password {
  border: 2px solid $main-violet;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}
.name {
  border: 2px solid $main-purple;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}
.checkPass {
  border: 2px solid $main-purple;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  font-size: 32px;
  text-align: center;
}

.notMatch {
  border: 2px solid red;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  font-size: 32px;
  text-align: center;
}
.none {
  display: none;
}
.notMatchText {
  @include headers-font;
  position: absolute;
  margin-left: 800px;
  font-size: 20px;
  text-decoration: underline red;
}
.notMatchContainer {
  display: flex;
  gap: 50px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.phoneNum {
  border: 2px solid $main-purple;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.loginLink {
  font-size: 24px;
  @include text-font;
  margin-top: 25px;
}

.register {
  font-size: 24px;
  @include text-font;
  margin-top: 25px;
}
