@import "@/scss/_reset";
@import "@/scss/_vars";
@import "@/scss/_fonts";

.callForm {
  display: flex;
  flex-direction: column;
  input {
    background-color: $main-purple50;
    margin-top: 50px;
    height: 50px;
    width: 870px;
    border-radius: 10px;
    padding: 20px;
    font-size: 32px;
  }
  button {
    margin-top: 50px;
    background-color: $main-purple50;
    height: 64px;
    width: 250px;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid $main-violet50;
    box-shadow: 1px 1px 5px 1px rgba(58, 57, 57, 0.75);
    &:hover {
      background-color: $main-violet50;
      color: white;
      border: 2px solid $main-purple50;
    }
    transition: all 0.2s ease-in;
  }
  input:invalid + button {
    pointer-events: none;
  }
}

.header {
  font-size: 40px;
  @include headers-font;
}

//Mobile

.callFormMobile {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  input {
    background-color: $main-purple50;
    margin-top: 50px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    font-size: 32px;
  }
  button {
    margin-top: 50px;
    background-color: $main-purple50;
    height: 64px;
    width: 250px;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid $main-violet50;
    box-shadow: 1px 1px 5px 1px rgba(58, 57, 57, 0.75);
    &:hover {
      background-color: $main-violet50;
      color: white;
      border: 2px solid $main-purple50;
    }
    transition: all 0.2s ease-in;
  }
  input:invalid + button {
    pointer-events: none;
  }
}

.headerMobile {
  font-size: 40px;
  @include headers-font;
}
