@import "@/scss/_reset";
@import "@/scss/_vars";
@import "@/scss/_fonts";
@import "@/scss/_base";

.container {
  display: flex;
  margin-right: 200px;
  justify-content: space-between;
  h1 {
    font-size: 40px;
    @include headers-font;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

.petShopList {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: 200px;
  h2 {
    font-size: 32px;
    margin-bottom: 50px;
    @include headers-font;
  }
  li {
    list-style: circle;
    font-size: 32px;
    margin-bottom: 50px;
    margin-left: 50px;
    @include text-font;
  }
}

.petShopImg {
  margin-top: 100px;
  width: 430px;
  height: 370px;
}

.map {
  margin-top: 100px;
  border: 3px solid $main-purple;
  border-radius: 20px;
  width: 1520px;
  height: 750px;
  overflow: hidden;
}

//Mobile

.containerMobile {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 40px;
    @include headers-font;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

.petShopListMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 32px;
    margin-bottom: 50px;
    @include headers-font;
  }
  li {
    list-style: circle;
    font-size: 32px;
    margin-bottom: 50px;
    margin-left: 50px;
    @include text-font;
  }
}

.petShopImgMobile {
  display: none;
}

.mapMobile {
  margin-top: 100px;
  border: 3px solid $main-purple;
  border-radius: 20px;
  width: 100%;
  height: 750px;
  overflow: hidden;
}
