@import "./_vars";

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: $main-purple;
  border-radius: 10px;
}
