$main-purple: #b869f6;
$main-purple80: rgb(185, 105, 246, 80%);
$main-purple50: rgb(185, 105, 246, 50%);
$main-purple30: rgb(185, 105, 246, 30%);
$main-violet: #5200ff;
$main-violet80: rgb(82, 0, 255, 80%);
$main-violet50: rgb(82, 0, 255, 50%);
$main-violet30: rgb(82, 0, 255, 30%);
